Schema/ParlaMint-teiCorpus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.tei-c.org/ns/1.0" xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:ns1="http://www.tei-c.org/ns/1.0">
  <xs:include schemaLocation="ParlaMint-TEI.xsd"/>
  <xs:import namespace="http://www.w3.org/2001/XInclude" schemaLocation="xi.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:element name="teiCorpus">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:teiHeader"/>
        <xs:element maxOccurs="unbounded" ref="xi:include"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:id.att"/>
      <xs:attribute ref="xml:lang" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="teiHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:fileDesc"/>
        <xs:element ref="ns1:encodingDesc"/>
        <xs:element ref="ns1:profileDesc"/>
        <xs:element minOccurs="0" ref="ns1:revisionDesc"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:global.atts"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="titleStmt">
    <xs:complexType>
      <xs:sequence>
        <xs:group maxOccurs="unbounded" ref="ns1:title-header"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:meeting"/>
        <xs:element maxOccurs="unbounded" ref="ns1:respStmt"/>
        <xs:element maxOccurs="unbounded" ref="ns1:funder"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="profileDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:settingDesc"/>
        <xs:element ref="ns1:particDesc"/>
        <xs:element ref="ns1:langUsage"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:global.atts"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="editorialDecl">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:correction"/>
        <xs:element ref="ns1:normalization"/>
        <xs:element ref="ns1:hyphenation"/>
        <xs:element ref="ns1:quotation"/>
        <xs:element ref="ns1:segmentation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="correction">
    <xs:complexType>
      <xs:group ref="ns1:paras"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="normalization">
    <xs:complexType>
      <xs:group ref="ns1:paras"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="hyphenation">
    <xs:complexType>
      <xs:group ref="ns1:paras"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="quotation">
    <xs:complexType>
      <xs:group ref="ns1:paras"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="segmentation">
    <xs:complexType>
      <xs:group ref="ns1:paras"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="taxonomy">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="desc">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="ns1:term-text">
                <xs:attributeGroup ref="ns1:lang.att"/>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" ref="ns1:category"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:id.att"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="category">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:catDesc"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:category"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:id.att"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="catDesc">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:term-text">
          <xs:attributeGroup ref="ns1:lang.att"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="particDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:listOrg"/>
        <xs:element maxOccurs="unbounded" ref="ns1:listPerson"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listOrg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:head"/>
        <xs:element maxOccurs="unbounded" ref="ns1:org"/>
        <xs:element minOccurs="0" ref="ns1:listRelation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="org">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:orgName"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:event"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:idno"/>
        <xs:element minOccurs="0" ref="ns1:listEvent"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:global.atts"/>
      <xs:attributeGroup ref="ns1:pointing.atts"/>
      <xs:attribute name="role" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="political_party"/>
            <xs:enumeration value="politicalParty"/>
            <xs:enumeration value="parliament"/>
            <xs:enumeration value="government">
              <xs:annotation>
                <xs:documentation>The following used only by SI:</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ethnic_communities"/>
            <xs:enumeration value="independet">
              <xs:annotation>
                <xs:documentation>The following used only by BG:</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="coalition"/>
            <xs:enumeration value="ngo">
              <xs:annotation>
                <xs:documentation>The following used only by CZ:</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="interparliamentaryFriendshipGroup"/>
            <xs:enumeration value="committee"/>
            <xs:enumeration value="subcommittee"/>
            <xs:enumeration value="commission"/>
            <xs:enumeration value="politicalGroup"/>
            <xs:enumeration value="delegation"/>
            <xs:enumeration value="senate"/>
            <xs:enumeration value="institution"/>
            <xs:enumeration value="supervisoryBoard"/>
            <xs:enumeration value="workingGroup"/>
            <xs:enumeration value="nationalCouncil"/>
            <xs:enumeration value="chamberOfThePeople"/>
            <xs:enumeration value="chamberOfTheNations"/>
            <xs:enumeration value="europeanParliament"/>
            <xs:enumeration value="president"/>
            <xs:enumeration value="internationalOrganizations"/>
            <xs:enumeration value="boardOfDirectors"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="orgName">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:lang.att"/>
      <xs:attributeGroup ref="ns1:temporal.atts"/>
      <xs:attribute name="full" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="init"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="listEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:head"/>
        <xs:element maxOccurs="unbounded" ref="ns1:event"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listRelation">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:relation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="relation">
    <xs:complexType>
      <xs:attributeGroup ref="ns1:pointing.atts"/>
      <xs:attributeGroup ref="ns1:temporal.atts"/>
      <xs:attribute name="name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="coalition"/>
            <xs:enumeration value="renaming"/>
            <xs:enumeration value="successor"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mutual" type="ns1:anyURIs"/>
      <xs:attribute name="active" type="xs:anyURI"/>
      <xs:attribute name="passive" type="ns1:anyURIs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="listPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:head"/>
        <xs:element maxOccurs="unbounded" ref="ns1:person"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="person">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:persName"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="ns1:sex"/>
          <xs:element ref="ns1:birth"/>
          <xs:element ref="ns1:death"/>
          <xs:element ref="ns1:affiliation"/>
          <xs:element ref="ns1:occupation"/>
          <xs:element ref="ns1:education"/>
          <xs:element ref="ns1:idno"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:global.atts"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="sex">
    <xs:complexType mixed="true">
      <xs:attribute name="value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="M"/>
            <xs:enumeration value="F"/>
            <xs:enumeration value="U"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="birth" type="ns1:life-event.content"/>
  <xs:element name="death" type="ns1:life-event.content"/>
  <xs:element name="persName">
    <xs:complexType>
      <xs:choice>
        <xs:annotation>
          <xs:documentation>Special persons (like 'anonymous', 'group' etc.) have their name in
	term.</xs:documentation>
        </xs:annotation>
        <xs:element ref="ns1:term"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="ns1:surname"/>
          <xs:element ref="ns1:forename"/>
          <xs:element ref="ns1:addName"/>
          <xs:element ref="ns1:roleName"/>
        </xs:choice>
      </xs:choice>
      <xs:attributeGroup ref="ns1:lang.att"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="surname" type="xs:string"/>
  <xs:element name="forename" type="xs:string"/>
  <xs:element name="addName" type="xs:string"/>
  <xs:element name="roleName" type="xs:string"/>
  <xs:element name="affiliation">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:pointing.atts"/>
      <xs:attributeGroup ref="ns1:temporal.atts"/>
      <xs:attributeGroup ref="ns1:ref.att"/>
      <xs:attribute name="role" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="president"/>
            <xs:enumeration value="vicePresident"/>
            <xs:enumeration value="chairman"/>
            <xs:enumeration value="viceChairman"/>
            <xs:enumeration value="minister"/>
            <xs:enumeration value="MP"/>
            <xs:enumeration value="substituteMP">
              <xs:annotation>
                <xs:documentation>The following used only by CZ:</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="observer"/>
            <xs:enumeration value="verifier"/>
            <xs:enumeration value="vicePublicDefenderOfRights"/>
            <xs:enumeration value="headOfDelegation"/>
            <xs:enumeration value="presidiumMember"/>
            <xs:enumeration value="publicDefenderOfRights"/>
            <xs:enumeration value="alternateOfDelegation"/>
            <xs:enumeration value="replacement"/>
            <xs:enumeration value="member"/>
            <xs:enumeration value="candidateMP">
              <xs:annotation>
                <xs:documentation>The following used only by BG:</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="academician"/>
            <xs:enumeration value="candidate-chairman"/>
            <xs:enumeration value="chair-of-parliament"/>
            <xs:enumeration value="chairperson"/>
            <xs:enumeration value="chiefInspector"/>
            <xs:enumeration value="commander"/>
            <xs:enumeration value="constitutionalJudge"/>
            <xs:enumeration value="deputyChief"/>
            <xs:enumeration value="deputyMinister"/>
            <xs:enumeration value="deputyPrimeMinister"/>
            <xs:enumeration value="deputyPrimeMinster"/>
            <xs:enumeration value="director"/>
            <xs:enumeration value="head-of-department"/>
            <xs:enumeration value="leader"/>
            <xs:enumeration value="ombudsman"/>
            <xs:enumeration value="presidentEP"/>
            <xs:enumeration value="primeMinister"/>
            <xs:enumeration value="prosecutor-general"/>
            <xs:enumeration value="secretary"/>
            <xs:enumeration value="secretaryGeneral"/>
            <xs:enumeration value="vice-chairman"/>
            <xs:enumeration value="vice-chair-of-parliament"/>
            <xs:enumeration value="vice-director"/>
            <xs:enumeration value="vice-president"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="occupation">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:global.atts"/>
      <xs:attributeGroup ref="ns1:temporal.atts"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="education">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:global.atts"/>
      <xs:attributeGroup ref="ns1:temporal.atts"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="langUsage">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:language"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="language">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:lang.att"/>
      <xs:attribute name="ident" use="required" type="ns1:lang.vals"/>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="life-event.content" mixed="true">
    <xs:annotation>
      <xs:documentation>The content of elements that describe life
    events: they can have an partial date (e.g. year only) in temporal
    attributes, and have as content plain text giving the date and
    possibly the placeName where the event happened.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:placeName"/>
    </xs:sequence>
    <xs:attribute name="when" use="required">
      <xs:simpleType>
        <xs:union memberTypes="xs:date xs:gYearMonth xs:gYear"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:element name="placeName">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:ref.att"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="event">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="label">
          <xs:complexType mixed="true">
            <xs:attributeGroup ref="ns1:lang.att"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:global.atts"/>
      <xs:attributeGroup ref="ns1:temporal.atts"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="term" type="xs:string"/>
  <xs:complexType name="term-text" mixed="true">
    <xs:annotation>
      <xs:documentation>Text preceded by term, for use in
    taxonomies.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="ns1:term"/>
      <xs:group ref="ns1:annotated-text"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
