Schema/ParlaMint-TEI.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://www.tei-c.org/ns/1.0"
	 xmlns:xml="http://www.w3.org/XML/1998/namespace"
	 xmlns="http://relaxng.org/ns/structure/1.0"
	 xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
	 datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  
  <a:documentation>RelaxNG XML schema for ParlaMint corpora: schema
  for component TEI file.</a:documentation>

  <start>
    <element name="TEI">
      <a:documentation>Root element of a ParlaMint component file.</a:documentation>
      <ref name="id.att"/>
      <a:documentation>Obligatory @xml:id.</a:documentation>
      <attribute name="xml:lang">
	<a:documentation>Obligatory @xml:lang.</a:documentation>
	<ref name="lang.vals"/>
      </attribute>
      <attribute name="ana">
	<a:documentation>Obligatory @ana determining what scope this document has.</a:documentation>
	<ref name="anyURIs"/>
      </attribute>
      <ref name="teiHeader"/>
      <ref name="text-body"/>
    </element>
  </start>
  
  <!-- METADATA -->
  
  <define name="teiHeader">
    <element name="teiHeader">
      <a:documentation>Metadata of the component.</a:documentation>
      <ref name="global.atts"/>
      <ref name="fileDesc"/>
      <ref name="encodingDesc"/>
      <ref name="profileDesc"/>
      <optional>
	<ref name="revisionDesc"/>
      </optional>
    </element>
  </define>
  
  <define name="fileDesc">
    <element name="fileDesc">
      <a:documentation>File description.</a:documentation>
      <ref name="global.atts"/>
      <ref name="titleStmt"/>
      <ref name="editionStmt"/>
      <ref name="extent"/>
      <ref name="publicationStmt"/>
      <ref name="sourceDesc"/>
    </element>
  </define>

  <define name="titleStmt">
    <element name="titleStmt">
      <a:documentation>Title statement.</a:documentation>
      <oneOrMore>
	<ref name="title-header"/>
      </oneOrMore>
      <oneOrMore>
	<ref name="meeting"/>
      </oneOrMore>
      <zeroOrMore>
	<ref name="respStmt"/>
      </zeroOrMore>
      <zeroOrMore>
	<ref name="funder"/>
      </zeroOrMore>
    </element>
  </define>
  
  <define name="respStmt">
    <element name="respStmt">
      <a:documentation>Responsibility statement.</a:documentation>
      <oneOrMore>
	<oneOrMore>
	  <element name="persName">
	    <ref name="global.atts"/>
	    <ref name="ref.att"/>
	    <text/>
	  </element>
	</oneOrMore>
	<oneOrMore>
	  <element name="resp">
	    <ref name="lang.att"/>
	    <text/>
	  </element>
	</oneOrMore>
      </oneOrMore>
    </element>
  </define>
  
  <define name="editionStmt">
    <element name="editionStmt">
      <a:documentation>Edition statement.</a:documentation>
      <element name="edition">
	<text/>
      </element>
    </element>
  </define>
  
  <define name="extent">
    <element name="extent">
      <a:documentation>Extent of the document.</a:documentation>
      <oneOrMore>
	<element name="measure">
	  <attribute name="unit">
	    <!--data type="NCName"/-->
	    <choice>
	      <value>speeches</value>
	      <value>words</value>
	      <value>tokens</value>
	    </choice>
	  </attribute>
	  <attribute name="quantity">
	    <data type="integer"/>
	  </attribute>
	  <ref name="lang.att"/>
	  <text/>
	</element>
      </oneOrMore>
    </element>
  </define>
  
  <define name="publicationStmt">
    <element name="publicationStmt">
      <a:documentation>Publications statement.</a:documentation>
      <ref name="publisher"/>
      <ref name="idno"/>
      <!-- bg is missing pubPlace but we don't really need it -->
      <optional> 
	<element name="pubPlace">
	  <oneOrMore>
	    <text/>
	    <ref name="ref"/>
	  </oneOrMore>
	</element>
      </optional>
      <element name="availability">
	<attribute name="status">
	  <value>free</value>
	</attribute>
	<element name="licence">
	  <!--data type="anyURI"/-->
	  <value>http://creativecommons.org/licenses/by/4.0/</value>
	</element>
	<ref name="paras"/>
      </element>
      <ref name="date-simple"/>
    </element>
  </define>
  
  <define name="sourceDesc">
    <element name="sourceDesc">
      <a:documentation>Source description.</a:documentation>
      <oneOrMore>
	<element name="bibl">
	  <oneOrMore>
	    <ref name="title"/>
	  </oneOrMore>
	  <zeroOrMore>
	    <element name="edition">
	      <ref name="lang.att"/>
	      <text/>
	    </element>
	  </zeroOrMore>
	  <optional>
	    <ref name="publisher"/>
	  </optional>
	  <oneOrMore>
	    <ref name="idno"/>
	  </oneOrMore>
	  <zeroOrMore>
	    <ref name="date"/>
	  </zeroOrMore>
	</element>
      </oneOrMore>
      <optional>
	<element name="recordingStmt">
	  <oneOrMore>
	    <element name="recording">
	      <attribute name="type">
		<choice>
		  <value>audio</value>
		  <value>video</value>
		</choice>
	      </attribute>
	      <optional>
		<attribute name="dur">
		  <data type="duration"/>
		</attribute>
	      </optional>
	      <oneOrMore>
		<ref name="media"/>
	      </oneOrMore>
	      <zeroOrMore>
		<ref name="respStmt"/>
	      </zeroOrMore>
	      <optional>
		<ref name="time"/>
	      </optional>
	      <optional>
		<element name="equipment">
		  <ref name="abs"/>
		</element>
	      </optional>
	    </element>
	  </oneOrMore>
	</element>
      </optional>
    </element>
  </define>
  
  <define name="encodingDesc">
    <element name="encodingDesc">
      <a:documentation>Encoding description.</a:documentation>
      <ref name="global.atts"/>
      <element name="projectDesc">
	<ref name="paras"/>
      </element>
      <ref name="tagsDecl"/>
    </element>
  </define>
  
  <define name="profileDesc">
    <element name="profileDesc">
      <a:documentation>Profile description.</a:documentation>
      <ref name="global.atts"/>
      <ref name="settingDesc"/>
    </element>
  </define>
  
  <define name="revisionDesc">
    <element name="revisionDesc">
      <a:documentation>Revision description.</a:documentation>
      <ref name="global.atts"/>
      <oneOrMore>
	<element name="change">
	  <attribute name="when">
	    <data type="date"/>
	  </attribute>
	  <ref name="name-header"/>
	  <text/>
	</element>
      </oneOrMore>
    </element>
  </define>

  <define name="tagsDecl">
    <element name="tagsDecl">
      <a:documentation>Tags declaration.</a:documentation>
      <element name="namespace">
	<attribute name="name">
	  <data type="anyURI"/>
	</attribute>
	<oneOrMore>
	  <element name="tagUsage">
	    <attribute name="gi">
              <data type="Name"/>
	    </attribute>
	    <attribute name="occurs">
              <data type="nonNegativeInteger"/>
	    </attribute>
	    <text/>
	  </element>
	</oneOrMore>
      </element>
    </element>
  </define>

  <define name="settingDesc">
    <element name="settingDesc">
      <a:documentation>Setting description.</a:documentation>
      <element name="setting">
	<oneOrMore>
	  <ref name="name-header"/>
	</oneOrMore>
	<ref name="date"/>
      </element>
    </element>
  </define>
  
  <define name="title-header">
    <element name="title">
      <a:documentation>A title in the teiHeader. Must have a @type.</a:documentation>
      <ref name="lang.att"/>
      <attribute name="type">
	<a:documentation>@type is here obligatory.</a:documentation>
	<choice>
	  <value>main</value>
	  <value>sub</value>
	</choice>
      </attribute>
      <text/>
    </element>
  </define>
  
  <define name="title">
    <element name="title">
      <a:documentation>A title in the text.</a:documentation>
      <ref name="lang.att"/>
      <optional>
	<attribute name="type">
	  <a:documentation>@type is optional.</a:documentation>
	  <choice>
	    <value>main</value>
	    <value>sub</value>
	  </choice>
	</attribute>
      </optional>
      <text/>
    </element>
  </define>
  
  <define name="meeting">
    <element name="meeting">
      <ref name="global.atts"/>
      <ref name="ana.att"/>
      <ref name="corresp.att"/>
      <text/>
    </element>
  </define>

  <define name="publisher">
    <element name="publisher">
      <ref name="lang.att"/>
      <choice>
	<group>
	  <oneOrMore>
	    <element name="orgName">
	      <ref name="lang.att"/>
	      <text/>
	    </element>
	  </oneOrMore>
	  <optional>
	    <ref name="ref"/>
	  </optional>
	</group>
	<text/>
      </choice>
    </element>
  </define>
  
  <define name="funder">
    <element name="funder">
      <oneOrMore>
	<element name="orgName">
	  <ref name="lang.att"/>
	  <text/>
	</element>
      </oneOrMore>
    </element>
  </define>

  <define name="idno">
    <element name="idno">
      <ref name="lang.att"/>
      <attribute name="type">
	<choice>
	  <value>URI</value>
	  <value>VIAF</value>
	  <data type="Name"/>
	</choice>
      </attribute>
      <optional>
	<attribute name="subtype">
	  <data type="Name"/>
	</attribute>
      </optional>
      <data type="anyURI"/>
    </element>
  </define>
  
  <define name="name-header">
    <element name="name">
      <optional>
	<attribute name="type">
	  <data type="Name"/>
	</attribute>
      </optional>
      <optional>
	<attribute name="key">
	  <data type="Name"/>
	</attribute>
      </optional>
      <text/>
    </element>
  </define>
	
  <!-- Paragraphs. Appear in the header only. -->
  <define name="paras">
    <oneOrMore>
      <element name="p">
	<ref name="global.atts"/>
	<ref name="annotated-text"/>
      </element>
    </oneOrMore>
  </define>

  <!-- Anonymous blocks. Appear in the header only. -->
  <define name="abs">
    <oneOrMore>
      <element name="ab">
	<ref name="global.atts"/>
	<text/>
      </element>
    </oneOrMore>
  </define>

  <!-- DATA -->

  <define name="text-body">
    <element name="text">
      <ref name="global.atts"/>
      <ref name="ana.att"/>
      <element name="body">
	<oneOrMore>
          <element name="div">
            <ref name="global.atts"/>
	    <attribute name="type">
	      <value>debateSection</value>
	    </attribute>
	    <zeroOrMore>
	      <ref name="head"/>
            </zeroOrMore>
	    <oneOrMore>
	      <choice>
		<ref name="note"/>
		<ref name="comment"/>
		<ref name="pb"/>
		<ref name="u"/>
	      </choice>
	    </oneOrMore>
	  </element>
	</oneOrMore>
      </element>
    </element>
  </define>
  
  <define name="u">
    <a:documentation>One speech (i.e. 'utterance').</a:documentation>
    <element name="u">
      <ref name="global.atts"/>
      <a:documentation>Attributes to link split utterances.</a:documentation>
      <optional>
	<attribute name="prev">
          <data type="anyURI"/>
	</attribute>
      </optional>
      <optional>
	<attribute name="next">
          <data type="anyURI"/>
	</attribute>
      </optional>
      <optional>
	<ref name="who.att"/>
      </optional>
      <a:documentation>Utterance has obligatory @ana, for the role of the speaker.</a:documentation>
      <ref name="ana.att"/>
      <optional>
	<attribute name="source">
	  <ref name="anyURIs"/>
	</attribute>
      </optional>
      <oneOrMore>
	<choice>
          <ref name="seg"/>
          <ref name="comment"/>
	  <ref name="pb"/>
	</choice>
      </oneOrMore>
    </element>
  </define>
  
  <define name="seg">
    <element name="seg">
      <ref name="global.atts"/>
      <oneOrMore>
	<choice>
          <ref name="comment"/>
	  <ref name="pb"/>
          <text/>
	</choice>
      </oneOrMore>
    </element>
  </define>
  
  <define name="note">
    <element name="note">
      <ref name="global.atts"/>
      <optional>
	<attribute name="type">
	  <data type="NCName"/>
	</attribute>
      </optional>
      <choice>
        <text/>
	<ref name="time"/>
      </choice>
    </element>
  </define>
  
  <define name="pb">
    <element name="pb">
      <ref name="global.atts"/>
      <ref name="corresp.att"/>
      <ref name="source.att"/>
      <empty/>
    </element>
  </define>
  
  <define name="comment">
    <choice>
      <ref name="note"/>
      <element name="gap">
	<attribute name="reason">
          <choice>
            <value>editorial</value>
	    <value>inaudible</value>
	  </choice>
	</attribute>
	<ref name="desc"/>
      </element>
      <element name="kinesic">
	<optional>
	  <attribute name="type">
            <choice>
              <value>kinesic</value>
              <value>applause</value>
              <value>ringing</value>
              <value>signal</value>
              <value>playback</value>
              <value>gesture</value>
              <value>smiling</value>
              <value>laughter</value>
              <value>snapping</value>
              <value>noise</value>
	    </choice>
	  </attribute>
	</optional>
	<optional>
	  <ref name="who.att"/>
	</optional>
	<ref name="desc"/>
      </element>
      <element name="incident">
	<optional>
	  <attribute name="type">
            <choice>
              <value>action</value>
              <value>incident</value>
              <value>leaving</value>
              <value>entering</value>
              <value>break</value>
              <value>sound</value>
              <value>editorial</value>
	    </choice>
	  </attribute>
	</optional>
	<optional>
	  <ref name="who.att"/>
	</optional>
	<ref name="desc"/>
      </element>
      <element name="vocal">
	<attribute name="type">
            <choice>
              <value>greeting</value>
              <value>question</value>
              <value>clarification</value>
              <value>speaking</value>
              <value>interruption</value>
              <value>exclamat</value>
              <value>laughter</value>
              <value>shouting</value>
              <value>murmuring</value>
              <value>noise</value>
              <value>signal</value>
	    </choice>
	</attribute>
	<optional>
	  <ref name="who.att"/>
	</optional>
	<ref name="desc"/>
      </element>
    </choice>
  </define>
  
  <define name="desc">
    <element name="desc">
      <optional>
	<ref name="lang.att"/>
      </optional>
      <text/>
    </element>
  </define>

  <!-- GENERALLY USEFUL DEFINITIONS -->
  
  <define name="head">
    <element name="head">
      <optional>
	<attribute name="type">
	  <data type="token"/>
	</attribute>
      </optional>
      <ref name="global.atts"/>
      <oneOrMore>
	<choice>
	  <ref name="note"/>
	  <ref name="pb"/>
          <text/>
	</choice>
      </oneOrMore>
    </element>
  </define>
  
  <define name="ref">
    <element name="ref">
      <attribute name="target">
	<data type="anyURI"/>
      </attribute>
      <text/>
    </element>
  </define>
  
  <define name="media">
    <a:documentation>The media element</a:documentation>
    <element name="media">
      <ref name="global.atts"/>
      <attribute name="mimeType">
        <data type="token"/>
      </attribute>
      <ref name="source.att"/>
      <attribute name="url">
        <ref name="anyURIs"/>
      </attribute>
    </element>
  </define>
  
  <define name="time">
      <a:documentation>The time element</a:documentation>
    <element name="time">
      <ref name="temporal.atts"/>
      <text/>
    </element>
  </define>
  
  <define name="date-simple">
    <a:documentation>A simple date, just with @when</a:documentation>
    <element name="date">
      <ref name="when.att"/>
      <text/>
    </element>
  </define>
  
  <define name="date">
    <a:documentation>A date with with all possible temporal information.</a:documentation>
    <element name="date">
      <ref name="global.atts"/>
      <ref name="temporal.atts"/>
      <optional>
	<ref name="ana.att"/>
      </optional>
      <text/>
    </element>
  </define>
  
  <define name="annotated-text">
    <mixed>
      <zeroOrMore>
	<ref name="ref"/>
      </zeroOrMore>
    </mixed>
  </define>
  
  <define name="temporal.val">
    <choice>
      <data type="dateTime"/>
      <data type="date"/>
      <data type="gYearMonth"/>
      <data type="gYear"/>
    </choice>
  </define>
  
  <define name="when.att">
    <attribute name="when">
      <ref name="temporal.val"/>
    </attribute>
  </define>
  
  <define name="temporal.atts">
    <choice>
      <ref name="when.att"/>
      <attribute name="from">
	<ref name="temporal.val"/>
      </attribute>
      <group>
	<attribute name="from">
	  <ref name="temporal.val"/>
	</attribute>
	<attribute name="to">
	  <ref name="temporal.val"/>
	</attribute>
      </group>
      <attribute name="notBefore">
	<ref name="temporal.val"/>
      </attribute>
      <group>
	<attribute name="notBefore">
	  <ref name="temporal.val"/>
	</attribute>
	<attribute name="notAfter">
	  <ref name="temporal.val"/>
	</attribute>
      </group>
    </choice>
  </define>
  
  <define name="who.att">
    <attribute name="who">
      <data type="anyURI"/>
    </attribute>
  </define>
  
  <define name="ref.att">
    <optional>
      <attribute name="ref">
	<data type="anyURI"/>
      </attribute>
    </optional>
  </define>
  
  <define name="global.atts">
    <optional>
      <ref name="id.att"/>
    </optional>
    <optional>
      <ref name="lang.att"/>
    </optional>
    <optional>
      <attribute name="n">
        <data type="string"/>
      </attribute>
    </optional>
  </define>
  
  <define name="ana.att">
    <a:documentation>"analysis" indicates one or more elements
    containing interpretations of the element on which the ana
    attribute appears.</a:documentation>
    <attribute name="ana">
      <ref name="anyURIs"/>
    </attribute>
  </define>
  
  <define name="corresp.att">
    <a:documentation>"corresponds" points to elements that correspond
    to the current element in some way.</a:documentation>
    <optional>
      <attribute name="corresp">
	<ref name="anyURIs"/>
      </attribute>
    </optional>
  </define>
  
  <define name="source.att">
    <optional>
      <attribute name="source">
        <ref name="anyURIs"/>
      </attribute>
    </optional>
  </define>
  
  <define name="anyURIs">
    <a:documentation>A list of URI, including fragment references.</a:documentation>
    <list>
      <oneOrMore>
        <data type="anyURI"/>
      </oneOrMore>
    </list>
  </define>
  
  <define name="id.att">
    <a:documentation>Identifier of the element.</a:documentation>
    <attribute name="xml:id">
      <data type="ID"/>
    </attribute>
  </define>
  
  <define name="lang.att">
    <a:documentation>The language of the element content. Optional
    everywhere except on TEI and teiCorpus, where its is defined
    separately.</a:documentation>
    <optional>
      <attribute name="xml:lang">
	<ref name="lang.vals"/>
      </attribute>
    </optional>
  </define>

  <define name="lang.vals">
    <a:documentation>Values for @xml:lang - specified sloppily!</a:documentation>
    <data type="language"/>
  </define>

</grammar>
