Schema/ParlaMint-teiCorpus.ana.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://www.tei-c.org/ns/1.0"
	 xmlns:xi="http://www.w3.org/2001/XInclude"
	 xmlns:xml="http://www.w3.org/XML/1998/namespace"
	 xmlns="http://relaxng.org/ns/structure/1.0"
	 xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
	 datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  
  <a:documentation>Schema for ParlaMint linguistically annotated
  teiCorpus. Assumed to contain the corpus header and XIncludes of
  component TEI files, but which should not be actually
  included!</a:documentation>
  
  <include href="ParlaMint-teiCorpus.rng">
    <define name="encodingDesc">
      <a:documentation>Encoding description.</a:documentation>
      <element name="encodingDesc">
	<ref name="global.atts"/>
	<element name="projectDesc">
	  <ref name="paras"/>
	</element>
	<ref name="editorialDecl"/>
	<ref name="tagsDecl"/>
	<element name="classDecl">
	  <oneOrMore>
	    <ref name="taxonomy"/>
	  </oneOrMore>
	</element>
	<element name="listPrefixDef">
	  <oneOrMore>
	    <ref name="prefixDef"/>
	  </oneOrMore>
	</element>
	<element name="appInfo">
	  <oneOrMore>
	    <ref name="application"/>
	  </oneOrMore>
	</element>
      </element>
    </define>
  </include>
  
  <define name="prefixDef">
    <element name="prefixDef">
      <attribute name="ident">
        <data type="token">
          <param name="pattern">[a-z][a-z0-9\+\.\-]*</param>
        </data>
      </attribute>
      <attribute name="matchPattern">
        <data type="token"/>
      </attribute>
      <attribute name="replacementPattern">
        <data type="token"/>
      </attribute>
      <ref name="paras"/>
    </element>
  </define>
  
  <define name="application">
    <element name="application">
      <attribute name="version">
        <data type="token">
          <param name="pattern">[\d]+[a-z]*[\d]*(\.[\d]+[a-z]*[\d]*){0,3}</param>
        </data>
      </attribute>
      <attribute name="ident">
        <data type="Name"/>
      </attribute>
      <element name="label">
	<text/>
      </element>
      <oneOrMore>
	<element name="desc">
	  <ref name="lang.att"/>
	  <ref name="annotated-text"/>
	</element>
      </oneOrMore>
    </element>
  </define>

</grammar>
